<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="/static/resetpassword.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Password Reset Email Sent</h1>
            <p>A password reset link has been sent to your registered email address.</p>
            <p>Please check your email to reset your password. Once you have reset your password, you can log in with your new password.</p>
            <button onclick="window.location.href='login.html';">Go to Login Page</button>
        </div>
    </div>
</body>
</html>








